# Prerequisites
*.d

# Object files
*.o
*.obj

# Linker output
*.map

# Libraries
*.lib
*.a

# Executables
*.elf
*.axf
*.bin
*.hex

# build intermediate and output artifacts
out
tmp
**/*.cbuild-idx.yml
**/.clangd
**/*.cbuild.yml
**/*.cprj
